.Setflix{
  background-color: #22254b;
  display: flex column;
  
}

.movie{
  border-radius: 30%;
  font-style: italic;
  font-weight: bold;
  justify-content:space-around;
}
.MovieFinder{
  padding: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20%;
  padding-bottom: 20;
 width: 100%;
}

