@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}
:root {
    --primary: red;
    --secondary: black;
    --white: white;

}

body {
    background-color: #530606;
    font-family: "Poppins", sans-serif;
    margin: 0;
    }
    /* header {
    background-color: #363636;
    display: flex;
    font-weight: bolder;
    font-display:inherit;

    } */
    h1{
    color: whitesmoke;
    align-self: center;
    margin-left: 28rem;
    font-weight: 100%;
    font-style: italic;

    }
    .search {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid #e9e9ec;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    }
    .search::placeholder {
    color: #7378c5;
    }
    .search:focus {
    background-color: red;
    outline: none;
    }
    .btn {
        padding: 10px 15px;
        background-color: var(--secondary);
        color: var(--primary);
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        border: none;
        font-size: 1rem;
        transition: all 0.3s ease;
        line-height: 1.1;
      }

.btn:hover {
    background-color: #1aa762;
    opacity: 1;
    cursor: pointer;
  }
  
  .btn:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
    div{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    flex-wrap: wrap;
    padding: 33.33px;
    margin:-10px 0 0 -10px;
    position: relative;
    }
    .movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-weight: bold;
    }
    .movie img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    margin:-10px 0 0 -10px;
    position: relative;
    }
    .movie-info {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    }
    .movie-info h3 {
    margin: 0;
    }
    .movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.8rem;
    }
    .movie-info span.green {
    color: rgb(39, 189, 39);
    }
    .movie-info span.orange {
    color: orange;
    }
    .movie-info span.red {
    color: rgb(189, 42, 42);
    }
    .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    }
    .overview h3 {
    margin-top: 0;
    }
    .movie:hover .overview {
    transform: translateY(0);
    }
    @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

:root {
  --primary: grey;
  --secondary: black;
  --white: #fff;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}

.btn:hover {
  background-color: black;
  opacity: 1;
  cursor: pointer;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

/* Header Styles */
header {
  background-color: var(--primary);
}

header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

header a:hover {
  opacity: 0.7;
}

header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

/* Add Page */
.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}

.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}

.results {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.results li {
  list-style: none;
}

.result-card {
  display: flex;
  margin-bottom: 20px;
}

.result-card .poster-wrapper img,
.filler-poster {
  width: 75px;
  height: 113px;
  background-color: #dbdada;
  border-radius: 5px;
  margin-right: 15px;
  display: block;
  color: transparent;
}

.result-card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card .info .title {
  font-size: 1.25rem;
  color: var(--primary);
  font-weight: 600;
  margin: 0;
}

.result-card .info .release-date {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--primary);
  margin: 0;
}

.result-card .controls button {
  margin-right: 10px;
}

/* Movie Page */
.movie-page {
  padding: 30px 0;
}

.movie-page .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.count-pill {
  display: block;
  background-color: var(--secondary);
  padding: 5px 15px;
  font-size: 1.125rem;
  font-weight: 600;
  border-radius: 999px;
  color: var(--primary);
}

.movie-page .heading {
  color: var(--primary);
  margin: 0;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

@media (min-width: 992px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.movie-card {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.movie-card img {
  width: 100%;
  display: block;
}

.movie-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.movie-card:hover .overlay {
  border: 3px solid var(--secondary);
}

.movie-card .inner-card-controls {
  display: inline;
  background-color: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.3s ease;
}

.movie-card:hover .inner-card-controls {
  opacity: 1;
}

.ctrl-btn {
  color: #fefefe;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
  font-size: 1.25rem;
  padding: 5px;
  margin: 0;
}

.ctrl-btn:hover {
  color: var(--secondary);
  cursor: pointer;
}

.movie-page .no-movies {
  color: #c4c4c4;
  font-size: 3rem;
  text-align: center;
}


body{
  background-color: blueviolet;
}
.header {
  width: 100%;
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
  transition: all 0.35s ease-in-out;
}
header {
  align-items: center;
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: inherit;
  color: #1d3e68;
}
.logo {
  font-size: 2rem;
  font-weight: 600;
}
nav > a,
nav > button {
  margin-left: 1.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #1d3e68;
}
nav > a:hover {
  color: darkgrey;
}

nav > button {
  background-color: #1d3e68;
  padding: 6px 12px;
  border: 1px solid #1d3e68;
  border-radius: 10px;
}
nav > button:hover {
  background-color: transparent;
}
nav > button > a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}
nav > button > a:hover {
  color: #1d3e68;
}
.loginFormContainer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.loginForm {
  padding: 4rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.loginForm > h1 {
  text-align: center;
  padding-bottom: 1rem;
  color: #1d3e68;
}
.loginForm > label {
  padding-top: 1rem;
}
.loginForm > label > span {
  color: red;
}
.loginForm > input {
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid black;
}
.loginForm > button {
  background-color: #1d3e68;
  color: white;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #1d3e68;
}
.loginForm > button:hover {
  background-color: darkgrey;
  background-color: transparent;
  cursor: pointer;
  color: #1d3e68;
}
.loginForm > p,
.loginForm > p > a {
  text-align: center;
  text-decoration: none;
}
.loginForm > p > a {
  color: #1d3e68;
}
/* ==== HOME ===== */
.home-container {
  width: 85%;
  display: flex;
  margin: 0 auto;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
}
.home-text {
  width: 45%;
}
.home-text > h1 {
  font-size: 3.2rem;
  color: #1d3e68;
}
.home-text > a > button {
  background-color: #1d3e68;
  border: 1px solid #1d3e68;
  padding: 6px 16px;
  font-size: 1.05rem;
  border-radius: 10px;
  color: white;
}
.home-text > a > button:hover {
  background-color: transparent;
  color: #1d3e68;
  cursor: pointer;
}
.home-text > p {
  font-size: 1.2rem;
  padding: 1.3rem 0;
}
.home-img {
  width: 40%;
}
.home-img > img {
  width: 100%;
}
/* ==== HOME ====== */
/* ==== PROJECTS ==== */
.projects-container {
  width: 85%;
  margin: 7vh auto;
}
.projects-container h1 {
  padding-bottom: 1rem;
  color: #1d3e68;
}
.project {
  display: flex;
  height: 6rem auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 2rem 0;
  padding: 1rem 1.5rem;
  background-color: whitesmoke;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  transition: all 0.35s ease-in-out;
  text-decoration: none;
  color: black;
}
.project > .project-icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.project > .project-icons > i {
  font-size: 1.5rem;
}
.project > .project-icons > i:hover {
  cursor: pointer;
}
.project > .project-icons > i:first-child {
  color: #1d3e68;
}
.project > .project-icons > i:nth-child(2) {
  color: #ff0000c3;
}
.project > section > details > p {
  padding-right: 2rem;
}
.project > summary {
  transition: all 0.35s ease-in-out;
}
/* ==== PROJECTS ==== */
/* ==== ADD PROJECT ==== */
.add-project-container {
  width: 85%;
  margin: 7vh auto;
  display: flex;
  justify-content: space-between;
}
.add-project-container h1 {
  padding-bottom: 1rem;
  color: #1d3e68;
}
.project-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 500px;
}
.project-form > label {
  padding: 1.1rem 0 0.3rem;
  font-size: 1.1rem;
}
.project-form > input,
textarea {
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid black;
}
.project-form > button {
  background-color: #1d3e68;
  border: 1px solid #1d3e68;
  padding: 6px 16px;
  font-size: 1.05rem;
  border-radius: 8px;
  color: white;
  width: fit-content;
}
.project-form > button:hover {
  background-color: transparent;
  color: #1d3e68;
  cursor: pointer;
}
.add-project-img {
  width: 40%;
}
.add-project-img > img {
  width: 100%;
}
/* ==== ADD PROJECT ==== */
/* ==== PROJECT MEMBERS ===== */
.project-members-container {
  width: 85%;
  margin: 6vh auto;
}
.project-members-container h1,
.project-members-container h2 {
  color: #1d3e68;
}