@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
:root {
    --primary: red;
    --secondary: black;
    --white: white;
}
body {
    background-color: #530606;
    font-family: "Poppins", sans-serif;
    margin: 0;
    }
    /* header {
    background-color: #363636;
    display: flex;
    font-weight: bolder;
    font-display:inherit;
    } */
    
    .search {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid #E9E9EC;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    }
    .search::placeholder {
    color: #7378C5;
    }
    .search:focus {
    background-color: red;
    outline: none;
    }
    .btn {
        padding: 10px 15px;
        background-color: var(--secondary);
        color: var(--primary);
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        border: none;
        font-size: 1rem;
        transition: all 0.3s ease;
        line-height: 1.1;
      }
.btn:hover {
    background-color: #1AA762;
    opacity: 1;
    cursor: pointer;
  }
  .btn:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
    div{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    flex-wrap: wrap;
    padding: 33.33px;
    margin:-10px 0 0 -10px;
    position: relative;
    }
    .movie {
    background-color: #373B69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-weight: bold;
    }
    .movie img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    margin:-10px 0 0 -10px;
    position: relative;
    }
    .movie-info {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    }
    .movie-info h3 {
    margin: 0;
    }
    .movie-info span {
    background-color: #22254B;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.8rem;
    }
    .movie-info span.green {
    color: rgb(39, 189, 39);
    }
    .movie-info span.orange {
    color: orange;
    }
    .movie-info span.red {
    color: rgb(189, 42, 42);
    }
    .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    }
    .overview h3 {
    margin-top: 0;
    }
    .movie:hover .overview {
    transform: translateY(0);
    }
    @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
:root {
  --primary: grey;
  --secondary: black;
  --white: #fff;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}
.btn:hover {
  background-color: black;
  opacity: 1;
  cursor: pointer;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
input:focus {
  outline: none;
}
/* Header Styles */
header {
  background-color: var(--primary);
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
header a:hover {
  opacity: 0.7;
}
header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}
header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}
header .nav-links li:last-child {
  margin-right: 0;
}
/* Add Page */
.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}
.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
:root {
    --primary: red;
    --secondary: black;
    --white: white;
}
body {
    background-color: #530606;
    font-family: "Poppins", sans-serif;
    margin: 0;
    }
    /* header {
    background-color: #363636;
    display: flex;
    font-weight: bolder;
    font-display:inherit;
    } */
    h1{
    color: whitesmoke;
    align-self: center;
    margin-left: 28rem;
    font-weight: 100%;
    font-style: italic;
    }
    .search {
    margin: 3rem;
    margin-left: 12rem;
    background-color: transparent;
    border: 2px solid #E9E9EC;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    }
    .search::placeholder {
    color: #7378C5;
    }
    .search:focus {
    background-color: red;
    outline: none;
    }
    .btn {
        padding: 10px 15px;
        background-color: var(--secondary);
        color: var(--primary);
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        border: none;
        font-size: 1rem;
        transition: all 0.3s ease;
        line-height: 1.1;
      }
.btn:hover {
    background-color: #1AA762;
    opacity: 1;
    cursor: pointer;
  }
  .btn:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
    div{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    flex-wrap: wrap;
    padding: 33.33px;
    margin:-10px 0 0 -10px;
    position: relative;
    }
    .movie {
    background-color: #373B69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-weight: bold;
    }
    .movie img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    margin:-10px 0 0 -10px;
    position: relative;
    }
    .movie-info {
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    }
    .movie-info h3 {
    margin: 0;
    }
    .movie-info span {
    background-color: #22254B;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.8rem;
    }
    .movie-info span.green {
    color: rgb(39, 189, 39);
    }
    .movie-info span.orange {
    color: orange;
    }
    .movie-info span.red {
    color: rgb(189, 42, 42);
    }
    .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    }
    .overview h3 {
    margin-top: 0;
    }
    .movie:hover .overview {
    transform: translateY(0);
    }
    @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
:root {
  --primary: grey;
  --secondary: black;
  --white: #fff;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.btn {
  padding: 10px 15px;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  line-height: 1.1;
}
.btn:hover {
  background-color: black;
  opacity: 1;
  cursor: pointer;
}
.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}
input:focus {
  outline: none;
}
/* Header Styles */
header {
  background-color: var(--primary);
}
header .inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
header a {
  color: var(--white);
  font-size: 1.25rem;
  text-decoration: none;
  transition: all 0.3s ease;
}
header a:hover {
  opacity: 0.7;
}
header .brand a {
  font-weight: 700;
  font-size: 1.5rem;
}
header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}
header .nav-links li:last-child {
  margin-right: 0;
}
/* Add Page */
.add-content {
  padding: 50px 0;
  max-width: 600px;
  margin: 0 auto;
}
.add-content .input-wrapper input {
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: var(--white);
  font-size: 1.25rem;
}